PORT=5000
MONGO_URI=mongodb+srv://sachinsnarayankar_db_user:j8pdeBo2Qx9lnfvT@cluster0.cvas2yk.mongodb.net/grand-spice?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=https://grand-spice-frontend-01.onrender.com


NODE_ENV=production